This Notebook will be used for capstone project.

<H1> PART -I

Scrapping the toronto neighbourhood data from wiki using beautiful soup

In [2]:
import requests
from bs4 import BeautifulSoup

url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')
tb = soup.find('table', class_='wikitable')
table_tmp = tb.tbody.find_all("tr")

In [3]:
headings = []
for th in table_tmp[0].find_all("th"):
    # remove any newlines and extra spaces from left and right
    headings.append(th.text.replace('\n', ' ').strip())

print(headings)

['Postcode', 'Borough', 'Neighbourhood']

We got the headings now we can opaerse data in dictionary and then convert it to data frame

In [4]:
table_data = []
for tr in tb.tbody.find_all("tr"): # find all tr's from table's tbody
        t_row = {}
        
        for td, th in zip(tr.find_all("td"), headings): 
            t_row[th] = td.text.replace('\n', '').strip()
        table_data.append(t_row)

In [5]:
postcode = []
borough =[] 
neighbourhood = []

for item in table_data[1:]:
    postcode.append(item['Postcode'])
    borough.append(item['Borough'])
    neighbourhood.append(item['Neighbourhood'])

converted to 3 seprate list checked each list has same length.

In [6]:
print(neighbourhood[:5] , postcode[:5] , borough[:5])

['Not assigned', 'Not assigned', 'Parkwoods', 'Victoria Village', 'Harbourfront'] ['M1A', 'M2A', 'M3A', 'M4A', 'M5A'] ['Not assigned', 'Not assigned', 'North York', 'North York', 'Downtown Toronto']

In [7]:
print(len(neighbourhood),len(postcode),len(borough))

287 287 287

In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame({"PostalCode" : postcode,
              "Borough" :borough,
              "Neighborhood" :neighbourhood})

In [10]:
df.head()

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

ignoring the not assigned boroughs

In [11]:
df = df[df.Borough != "Not assigned"]

In [12]:
df.shape

(210, 3)

In [13]:
df.head()

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

Finding the rows that have neighboehood not assigned

In [14]:
df[df.Neighborhood ==  "Not assigned"]

  PostalCode       Borough  Neighborhood
7        M7A  Queen's Park  Not assigned

Found which rows have not assigned neighborhood

Converting those non assigned neighborhood values to default vales of borough

In [15]:
df.loc[df.Neighborhood ==  "Not assigned","Neighborhood"] = df["Borough"]

In [16]:
df.head(10)

   PostalCode           Borough      Neighborhood
2         M3A        North York         Parkwoods
3         M4A        North York  Victoria Village
4         M5A  Downtown Toronto      Harbourfront
5         M6A        North York  Lawrence Heights
6         M6A        North York    Lawrence Manor
7         M7A      Queen's Park      Queen's Park
9         M9A      Queen's Park      Queen's Park
10        M1B       Scarborough             Rouge
11        M1B       Scarborough           Malvern
13        M3B        North York   Don Mills North

Grouped unique postal codes with neighbourhood.

In [17]:
df = df.groupby(['PostalCode','Borough'])['Neighborhood'].apply(lambda x: ','.join(x.unique())).reset_index()

In [18]:
df.head(20)

   PostalCode      Borough                                       Neighborhood
0         M1B  Scarborough                                      Rouge,Malvern
1         M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2         M1E  Scarborough                    Guildwood,Morningside,West Hill
3         M1G  Scarborough                                             Woburn
4         M1H  Scarborough                                          Cedarbrae
5         M1J  Scarborough                                Scarborough Village
6         M1K  Scarborough          East Birchmount Park,Ionview,Kennedy Park
7         M1L  Scarborough                      Clairlea,Golden Mile,Oakridge
8         M1M  Scarborough      Cliffcrest,Cliffside,Scarborough Village West
9         M1N  Scarborough                         Birch Cliff,Cliffside West
10        M1P  Scarborough  Dorset Park,Scarborough Town Centre,Wexford He...
11        M1R  Scarborough                                   Maryvale,Wexford
12        M1S  Scarborough                                          Agincourt
13        M1T  Scarborough              Clarks Corners,Sullivan,Tam O'Shanter
14        M1V  Scarborough  Agincourt North,L'Amoreaux East,Milliken,Steel...
15        M1W  Scarborough                                    L'Amoreaux West
16        M1X  Scarborough                                        Upper Rouge
17        M2H   North York                                  Hillcrest Village
18        M2J   North York                         Fairview,Henry Farm,Oriole
19        M2K   North York                                    Bayview Village

In [19]:
df.shape

(103, 3)

We have got 103 rows and 3 columns

In [20]:
#!pip install geocoder

In [21]:
#import geocoder # import geocoder

# initialize your variable to None
#lat_lng_coords = None

# loop until you get the coordinates
#while(lat_lng_coords is None):
#  g = geocoder.google('{}, Toronto, Ontario'.format('M1B'))
#  lat_lng_coords = g.latlng

#latitude = lat_lng_coords[0]
#longitude = lat_lng_coords[1]

In [22]:
#g = geocoder.google('Mountain View, CA')
#g.latlng

tried executing geocoder but it keeps running forever and dosent display any output. So using the csv file provided

In [23]:
df1 = pd.read_csv("D:/Downloads/Geospatial_Coordinates.csv")

In [25]:
df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

we have to merge this both datasets

In [29]:
df_merged = pd.merge(left= df , right= df1, left_on = "PostalCode",right_on = "Postal Code")

In [30]:
df_merged.head()

,PostalCode,Borough,Neighborhood,Postal Code,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",M1B,43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",M1C,43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",M1E,43.763573,-79.188711
3,M1G,Scarborough,Woburn,M1G,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.239476

In [33]:
df_merged = df_merged.drop("Postal Code",axis =1)

In [34]:
df_merged.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476